*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100%;
    height:100%;
}
#main{
    height:100%;
    width:100%;
    /* background-color: grey; */
}
#nav{
    height:100px;
    width:100%;
    /* background-color: rgb(255, 55, 0); */
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
}
#nav h4{
    font-size: 20px;
    font-weight:500;
}
#center{

    width:100%;
    /* background-color: yellowgreen; */
    padding:40px 80px;
    line-height: 35px ;
}
#center-in{
    line-height: 30px;
    margin-top: 10;
    /* background-color: skyblue; */
    font-size: 20px;
    font-weight: 500;
    display:flex;
    justify-content: space-between;
  
}
#right{
    width:20%;
}
.elem{
    /* background-color: pink; */
    /* text-decoration: none; */
    /* margin:3px; */
    padding:10px 0;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.elem a{
    text-decoration: none;
    color: black;
    font-weight:600;
    font-size: 20px;
  
}
.elem i{
    rotate: 300deg;
    opacity:0;
}
.elem:hover i{
    /* background-color: rgb(180, 205, 229); */
    opacity:1;
}
.elem:hover{
    background-color: rgb(231, 237, 237);
}
#bottom{
    height:25.8%;
    width:100%;  
    background-image: url("https://media.istockphoto.com/id/2162711153/photo/romantic-portrait-of-teenage-girl-walking-in-the-field.jpg?s=1024x1024&w=is&k=20&c=Mvvq2MwJ-wtJINGdjo7Mj_Nx7_266Mg_Rx8ajVG3zt4=");
    background-size: cover;
    background-position: 0 40%;
}